  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100svh; /* Usando svh para adaptarse a la barra de navegación */
            font-family: Arial, sans-serif;
            font-size: 20px; /* Tamaño de fuente base aumentado */
        }
        header {
            background-color: cornflowerblue;
            color: white;
            padding: 1rem;
            text-align: center;
        }
        main {
            display: flex; /* Flexbox para disposición horizontal */
            flex: 1; /* Ocupa el espacio restante */
        }
        aside {
            background-color: #f4f4f4;
            width: 25%; /* Ancho de la barra lateral */
            padding: 1rem;
            margin-right: 1rem; /* Espacio a la derecha */
        }

aside ul li {
    list-style-position: inside; /* Coloca la viñeta dentro del bloque de texto */
    margin-left: 0px; /* Aplica margen al lado izquierdo, afectando la viñeta y el texto */
padding-left:0px;
}

        .contenido { }
        section {
            flex: 1; /* Cada sección ocupa el mismo espacio */
            padding: 1rem;
            background-color:#eaeaea;
        }
        article {
            background-color: #fff;
            padding: 1rem;
            margin-bottom: 0.5rem;
            border-left: 5px solid cornflowerblue;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
        }